/data/*
*.DS_Store
*.ipynb
/utils/__pycache__
/model/*.pkl
/model/__pycache__
/model/model_store/*
/model/model_store_backup/*
/catboost_info/*
__pycache__
/model/POD_jsons/*
*.xlsx
*.env
fixer.py
code_store.py
*.log
/model/POD_jsons_0711/*
*.zip
check.py
POD_jsons/
newPOD_jsons/
testnewPOD_jsons
update_jsons.py
POD_jsons_backup/
/TODO/*
ml_documentation.md
/app/data/*
/app/models/POD_jsons/*
/app/models/model_store/*